---
const { frontmatter } = Astro.props;
import '../global.css';
---
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="generator" content={Astro.generator}>
        <title>{frontmatter.title}</title>
    </head>
    <body>
        <em>{frontmatter.pubDate.toString().slice(0,10)}</em>
        <p>Written by {frontmatter.author}</p>
        <slot />
    </body>
</html>